* {
    margin: 0;
    padding: 0;
    
    font-family: customFont;
}

body {
    color: #fff;
    background-image: url("../assets/img/background.jpg");
    background-size: auto;
}

.start-page .buttons{
    display: flex;
    justify-content: space-around;
    padding: 0 10vw;
    margin-top: -5px;
}

.start-page .buttons a{
    font-size: 2vw;
    text-decoration: none;
    padding: 10px 0;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af;
    cursor: pointer;
}

.start-page .buttons a span {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af inset;
    padding: 10px 30px;
}

.eye {
    position: relative;
    width: 65vw;
}

.title {
    position: absolute;
    top: 22vw;
    right: 10vw;
    width: 45vw;
}

/********************/

.check-pass, .create-pass, .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.rocket {
    position: fixed;
    top: 3vw;
    left: 6vw;
    width: 12vw;
    cursor: pointer;
}

.check h1{
    font-size: 4vw;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af;
    width: 64vw;
    cursor: pointer;
    margin-bottom: 10vh;
    margin-top: 20vh;
}

.presentation h1 {
    font-size: 4vw;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af;
    width: 64vw;
    cursor: pointer;
}

.check h1 span {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af inset;
    padding: 10px 0 10px 2vw;
    width: 100%;
}

.presentation h1 span {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af inset;
    padding: 10px 0 10px 2vw;
    width: 100%;
}

.check div {
    display: flex;
    justify-content: space-between;
}

.check a{
    font-size: 2.5vw;
    padding: 15px 0;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af;
    margin-bottom: 10vh;
    cursor: pointer;
}

.check a span {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af inset;
    padding: 15px 2vw;
}

.check a:first-child{
    color: #29DA94;
    box-shadow: 0 0 15px 5px #29DA94;
}

.check a:first-child span {
    box-shadow: 0 0 15px 5px #29DA94 inset;
}

.check a:last-child{
    color: #EF96E4;
}

/****************/

.create {
    display: flex;
    flex-direction: column;
}
.custom-pass {
    color: #fff;
    font-size: 2vw;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af inset;
    background: transparent;
    padding: 15px 2vw;
    width: 50vw;
}

.pass-input {
    display: inline-block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 15px 5px #a350af;
}

.green {
    margin-top: 5vw;
    position: relative;
    height: 20px;
    background: #29B473;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px #fff;
    width: 70vw;
    margin-bottom: 2vw;
}

.red {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    border-radius: 10px;
    background: #EC297B;
    width: 100%;
}

.scale {
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

.scale span {
    font-size: 1.5vw;
}